@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Titillium+Web:wght@700&display=swap');

:root {
    --primary-background-color: #333333;
    --primary-color: #36cead;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}
 h1 h2{
     margin: 0;
 }

 ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 section{
     padding-top: 4em;
     
 }
.logo{
    font-family: "Pacifico";
}

header{
    text-align: center;
    font-size: 0.75em;
    color: var(--primary-color);
    background: var(--primary-background-color);
    padding: 0em;

    .left-header{
        padding: 1.5em;  
        a{
            background-color: black;
            padding: 0.8em;
            border-radius: 50%;
            font-size: 1.5em;
            &:hover{
                cursor:pointer;
                background: var(--primary-color);
            }
        }
    
        i{
            color:white;
        }
    }
    .right-header{
        display: none;
        a{
            color:white;
            text-decoration: none;
            padding:0.3em;
            font-size: 1.2em;
            &:hover{
                color: var(--primary-color);
            }
        }
        
    }
    .middle-header{
        h1{
            margin: 0em;
            padding: 0.5em;
        }
        
    }
    
}

section {
    padding-bottom: 1em;
}
.hero-section{
    background: var(--primary-background-color);
    color: white;
    padding-top: 0.2em;
    padding-bottom: 8em;
    .column-container{
        text-align: center;
        span{
            font-size: 3em;
            display: block;
            font-weight: bolder;
        }
    }
    .left-column{
        background: #707070;
        margin: auto;
        text-shadow: -2px 2px 1px black;
        border-radius: 0.2em 3em 0.2em 0.2em;
        box-shadow: -5px 5px 50px black;
        width: 20em;
        background-image: url(../images/Ocean_Beach.jpg);
        background-size: cover;
    }
    .left-column .container{
        border-radius: 0.2em 3em 0.2em 0.2em;
        backdrop-filter: blur(3px) grayscale(100%);
        padding: 2em;
        
    }
    .right-column{
        margin: auto;
        width: 22em;
        text-align: center;
    }
    img{
        width: 4em;
    }
    h1{
        text-align: center;
        font-size: 3em;
        margin: 0.75em;
    }
    h3{
        margin: 2em 0;
        text-align: center;
        font-weight: lighter;
    }
    h4{
        font-size: 0.85em;
    }

    label{
        display: block;
        margin: 0.25em;
        text-align: left;
    }
    input,select{
        width:95%;
        padding: 0.7em;
    }
    input{
        border-radius: 0.2em;
        border: none;
        box-shadow: inset 0px 0px 26px -18px #000000;
    }
    select{
        border-radius: 0%;
        border: none;
        padding: 0.7em 1em;
    }
    hr{
        margin-bottom: 2em;
    }
}

.benefits-section{
    background: #f1f1f1;
    padding-bottom: 4em;
 
    li{
        background:white;
        padding: 4em 2em;
        margin: 1em auto;
        text-align: center;
        width: 16em;
        img{
            width: 5em;
            height: 5em;
        }
      
    }
}

.story-section-mobile{
    background: white;
    text-align: center;
    img{
       
        width: 15em;
        height: 16em;
        border-radius: 29px 221px 95px 104px / 39px 90px 110px 84px;
     

    }
    h1, p{ 
        margin: 2em;
    }
}
.story-section{
    display: none;
    padding-bottom: 4em;
}
.partners-section{
    background: var(--primary-color);
    padding-top: 2em;
    color: white;
    text-align: center;
    .lifebook{
        font-family: "Kanit";
    }
    .javastar{
        font-family: "Titillium Web";
        letter-spacing: 2px;
    }
    .instasham{
        font-family: "Pacifico";
    }
}

.video-section{
    text-align: center;
    margin-bottom: 4em;
    background: white;
    margin-bottom: 0;
    padding-bottom: 4em;

    video{
        display: inline-block;
        width: 70%;
    }
}

.testimonials-section {
    background-image: url(../images/mountain-range.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img{
        width: 5em;
        height: 5em;
        object-fit: cover;
        border-radius: 50%;

    }   
    padding:0;
    h1{
        font-size: 1em;
        font-weight: lighter;
        margin-bottom: 0;
    }
    h2{
        margin-top: 0.3em;
        font-size: 0.75em;
        font-weight: lighter;
    }
    blockquote{
        padding-bottom: 2em;
    }
}

.testimonials-section .container{
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    padding-top: 6em;
    padding-bottom: 4em;
    text-align: center;
}

.features-section{
    background: white;
    text-align: center;
    h1{
        font-size: 2em;
    }
    ul{
        list-style-image: url(../images/checkmark.svg);
        margin: 2em 5em;
    }
    li{
        text-align: left;
        h1{
            font-size: 1.25em;
        }
        h2{
            font-weight: lighter;
            font-size: 1em;
        }
    }

}

.final-cta{
    background: var(--primary-background-color);
    text-align: center;
    color: white;
    padding: 2em 2em 2em 2em;
    h2{
        font-weight: lighter;
        font-size: 1em;
        margin-bottom: -1em;
    }
}
.claim-now-btn{
    display: inline-block;
    background: var(--primary-color);
    border: none;
    border-radius: 0.5em;
    font-size: 1.15em;
    color: white;
    cursor: pointer;
    padding: 0.5em 2em;
    margin-top:  2em;
}

footer{
    background: var(--primary-background-color);
    text-align: center;
    color:white;
    padding-bottom: 1.5em;
    .container{   
        margin-top: 1.5em;
        margin-bottom: 1.5em; 
        a{
            background-color: black;
            padding: 0.8em;
            border-radius: 50%;
            font-size: 1.5em;
            
            &:hover{
                cursor:pointer;
                background: var(--primary-color);
            }
        }

        i{
            color:white;
            
        }
    }
   
    h1{
        color: var(--primary-color);
        font-size: 1.5em;
        margin-top: 0;
    }
    h2{
        font-weight: lighter;
        font-size: 0.75em;
    }
}

@media only screen and (min-width: 768px) {
  
    .hero-section{
        .column-container{
            display: flex;
            justify-content: center;
           .left-column{
               margin: 2em;
           }
           .right-column{
               margin: 2em;
           }
        }
        
    }
    .benefits-section{
        .container ul{
            display: flex;
            justify-content: center;
            li{
                margin: 1em;
            }
        }
    }
    .story-section-mobile{
        display: none;
    }
    .story-section{
        background: white;
        text-align: center;
        display: flex;
        justify-content: center;
        .image-container, .text-container{
            padding: 2em;
        }
        .text-container{
            width:40%;
        }
        img{
            margin-top: 2em;
            width: 20em;
            height: 24em;
            border-radius: 29px 221px 95px 104px / 39px 90px 110px 84px;
        }
        h1, p{ 
          
            text-align: left;
        }
    }
    .partners-section ul li{
        display: flex;
        justify-content: space-around;
    }
    .video-section video{
        width: 30em;
        height: 24em;
    }
    .testimonials-section .container{
        padding-top: 10em;
        padding-bottom: 8em;
    }
    .features-section h1{
        font-size: 3em;
    }
    .features-section ul {
        margin: 2em auto ;
        width: 40%;
        li{
            margin: 0 0 3em 2em;
        }
    
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            margin-left: 1em;
            margin-right: 1em;
           
        }
        h2{
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}

@media only screen and (min-width: 1175px) {
    header{
        
        display:flex;
        justify-content: space-around;
        align-items: center;
        .left-header{ 
            width:33%;
        }
        .middle-header{
            width:33%;
        }
        .right-header{
            display: block;
            width: 33%;
        }
    }
}